{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h2>Categories</h2>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "shop:product_list" %}">Home</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="home">

    <h1><center>Welcome!</center></h1>

      <img src="{% static "img/home.jpg" %}" alt="Home Page" class="center" width="400">
    <p><center> Welcome to our online bakery! We offer a variety of high quality products ranging from
      cakes to cookies to pastries. Our online store makes it easy for customers to order items ahead of time to be picked up in store.
      Our selection of products changes each week, so be sure to
      check back often to see what different items we offer! You can check out our current offerings below.
      Feel free to filter the selections using the sidebar menu on the left.</center></p>
  </div>

  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Today's Menu{% endif %}</h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        ${{ product.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}